a.button:hover {
  text-decoration: none;
  color: #5b5e60;
}
a.button.active {
  /*transform: rotate(135deg);
  transition: transform 0.5s;*/
  animation-play-state: paused;
}

.button::before.active {
	animation-play-state:paused;
}

.smn {
	background-color:#fff;
	padding:5px;
	padding-top:0px;
	padding-right:0px;
	padding-left:0px;
	/*margin-left:10%;
	margin-right:10%;
	border: 1px solid black;*/
	display: flow-root;
	background-color: #edeaea;
	border-radius: 10px;
}

.smn p {
	padding-right:25px;
	padding-left:25px;
	margin: 0;
}

.smn .smnConteiner {
    width: 100%;
    padding-left: 10%;
	
	
}

.smn .smnBotao {
	border:1px solid #d11f44;
	background-color:#d11f44;
	padding:5px;
	/*text-align:right;*/
	color:#ffffff;
	margin-bottom:3px;
	/*border-radius: 25px;*/
	cursor:pointer;
}

.smn .smnBotao img {
	width:50px;
	height:auto;
}

.smn .smnTitulo {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	
}

.smn .smnTitulo p {
	font-size:20px;
	font-weight: bold;
	color:#fff;
	font-family:Arial;
	align-items: center;
	height: 100% !important;
	display: flex;
    align-items: center;
}

.link-lightbox img {
	width:100px;
	height:auto;
	
}

.smn .smnTitulo .smnTituloTexto {
	width:100%;
	margin: 0px;
	padding: 0px;
	height:41px;
	/*border-bottom: 1px solid black;*/
	background-color: #565a5d;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.smn .smnTitulo .smnTituloIcone {
	width:auto;
	float:right;
	margin:0px;
	padding:0px;
}

.smn .smnCorpo {
	
	border: 1px solid #2C82AF;
}

.smn .smnCorpo p {
	font-family:arial;
}

.knowmore__body p {
	margin-top: 10px;
	padding-top: 10px;
}

.knowmore__item-container {
    padding-top: 25px;
    padding-left: 20px;
    min-height: 50px;
}

.knowmore__item__image{
	min-width: unset !important;
    float:left;	
}

.knowmore__item-body {
	float: right;
    width: 90%;
    height: 44px;
    align-items: center;
    display: flex;
}

.knowmore__body {
    margin-top: 30px;
}

.knowmore__image {
    border-top-right-radius: 10px;
}